<html>
	<head>
		<meta name="google-site-verification" content="-hsIdfctPsq0IzJRC5a3TJGtNGSACkgyGLmOfQA8ylc" />
		<title>{% block title %}{% endblock %}</title>
		<link rel='stylesheet' href='/css/base.css' type='text/css'/>
		<script type='text/javascript' src='/js/showclock.js'></script>
		{% block js %}{% endblock %}
	</head>
	<body>
		<div class='outer'>
			<table class='inner' cellspacing='1' cellpadding='2' width='100%'>
				<tr><td class='tabtitle' width='65%'>{% block pagehead %}{% endblock %}</td>
					<td width='35%' align='right'><a href='http://github.com/shwetanka/exceptionalcoder'>src</a>&nbsp;&nbsp;
						<a href='/knowme/'>knowme</a>&nbsp;&nbsp;
						{% block links %}{% endblock %}</td></tr>
				<tr><td width='65%' style='vertical-align:top'>{% block postblock %}{% endblock %}</td><td width='35%' style='vertical-align:top'>
			<div class='timedis'>
		<script type='text/javascript'>
			document.write("<div id='clk' style='position:relative;height:30px;width:315px;color:#FDD017;text-align:center;font-size:20px;padding:1mm'></div>");
			displayClock('clk');
		</script>
			</div>
				<div class='rdisp'>{% block rightblock %}{% endblock %}</div></td></tr>
				<tr><td colspan='2' align='center'>If you find any bugs or problems using the site please contact the site administrator</td></tr>
			</table>
		</div>
	</body>
</html>