{% extends 'homepage.html' %}

{% block title %} {{ bpost.posttitle }} {% endblock %}

{% block js %}
	<script type='text/javascript' src='/js/commentscript.js'></script>
{% endblock %}

{% block pagehead %} {{ bpost.posttitle }}{% endblock %}

{% block links %}
	<a href='/'>home</a>&nbsp;&nbsp;
	<a href='{{ url_link }}'>{{ url_text }}</a>&nbsp;&nbsp;
{% endblock %}

{% block postblock %}
	<table class='inner' cellspacing='1' cellpadding='2' width='100%'>
		<tr><td>Posted by {{ bpost.postby.nickname }} on {{ bpost.poston }}</td></tr>
		<tr><td>{{ bpost.posttext|linebreaks }}</td></tr>
		<tr><td><a name='comments'>Comments</a></td></tr>
		<tr><td>
			<div id='coment'>
			{% if comment_list %}
				{% for comment in comment_list %}
					<fieldset><legend style='font-size:20px'>{{ comment.commentby.nickname }} said</legend>
						{{ comment.commenttext }}<br>
						<div style='text-align:right'><i>Comment on {{ comment.commenton }}</i></div>
					</fieldset>
				{% endfor %}
			{% else %}
				No Comments Be the first one to comment
			{% endif %}
			</div>
		</td></tr>
		<tr><td><div id='err' style='color:red;border:1px solid red;width:300px;padding-left:1mm;display:none'></div>
			<form name='cmf' method='post' action='javascript:sendAjaxRequest(this,{{ bpost.post_id }})'>
				<table cellspacing='1' cellpadding='2' width='100%'>
					<tr><td width='20%'><label for='comtext'>Comment Text</label></td>
						<td><textarea id='comtext' name='comtext' rows='5' cols='60'>{{ cachetext }}</textarea></td></tr>
					<tr><td colspan='2' align='center'><input type='submit' name='comment' value='comment'></td></tr>
				</table>
			</form>
		</td></tr>
	</table>
{% endblock %}